/* Estilização Geral */
body {
    margin: 0;
    font-family: 'Chivo', sans-serif;
    background-color: #DDDDDD;
    color: #000000;
}

/* Cabeçalho */
.header {
    width: 100%;
    height: 96px;
    background-color: #FA2448;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.instituto-title {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #F5F5F5;
}

.instituto-subtitle {
    font-family: 'Chenla', sans-serif;
    font-size: 15px;
    color: #F5F5F5;
}

/* Container de Confirmação */
.confirmation-container {
    position: relative;
    width: 90%;
    max-width: 518px;
    margin: 0 auto;
    margin-top: 100px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.confirmation-title {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem; /* Tamanho responsivo */
    font-weight: 700;
    color: #FA2448;
    margin-bottom: 20px;
}

.confirmation-message {
    font-family: 'Chivo', sans-serif;
    font-size: 1rem; /* Tamanho responsivo */
    line-height: 1.5;
    color: #000000;
    margin-bottom: 30px;
    padding: 10px;
}

/* Botão OK */
.btn-ok {
    width: 92px;
    height: 40px;
    background-color: #FA2448;
    color: #FFFFFF;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem; /* Tamanho responsivo */
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-ok:hover {
    background-color: #c91c38;
}

/* Rodapé */
.footer {
    position: fixed; /* Fixa o rodapé na tela */
    bottom: 0; /* Posiciona no final da tela */
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
    background-color: #FA2448; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px;
    z-index: 1000; /* Garante que esteja sempre acima de outros elementos */
}


/* Responsividade */
@media (max-width: 768px) {
    .confirmation-title {
        font-size: 1.5rem; /* Reduz o tamanho */
    }

    .confirmation-message {
        font-size: 0.9rem; /* Ajusta o tamanho */
    }

    .btn-ok {
        width: 80px;
        height: 36px;
        font-size: 0.9rem;
    }
}