/* Estilização Geral */
body {
    margin: 0;
    font-family: 'Chivo', sans-serif;
    background-color: #DDDDDD;
    color: #313131;
    background-image: cover;
}

/* Cabeçalho */
.header {
    width: 100%;
    height: 96px;
    background-color: #FA2448;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instituto-title {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #F5F5F5;
}

.instituto-subtitle {
    font-family: 'Chenla', sans-serif;
    font-size: 15px;
    color: #F5F5F5;
}

/* Formulário de Login */
.login-container {
    text-align: center;
    padding: 50px;
}

.login-title {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: -300px;
}

.form-group label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-submit {
    width: 92px;
    height: 40px;
    background-color: #FA2448;
    color: white;
   
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #c91c38;
}

/* Rodapé */
.footer {
    position: fixed; /* Fixa o rodapé na tela */
    bottom: 0; /* Posiciona no final da tela */
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
    background-color: #FA2448; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px;
    z-index: 1000; /* Garante que esteja sempre acima de outros elementos */
}
